EONET/wwwroot/node_modules/
EONET/bin/
EONET/obj/
.vs/
EONET.BL/bin/
EONET.BL/obj/
EONET.Data/obj/
EONET.ApiClient/ApiClient/bin/
EONET.ApiClient/ApiClient/obj/
EONET.Data/bin/
EONET/wwwroot/package-lock.json
EONET/wwwroot/lib/
EONET/wwwroot/js/bundle.js
EONET/wwwroot/js/main.js
EONET/wwwroot/js/site.js
