EONET/wwwroot/node_modules/
EONET/bin/
EONET/obj/
.vs/
EONET.BL/bin/
EONET.BL/obj/
EONET.Data/obj/
EONET.ApiClient/ApiClient/bin/
EONET.ApiClient/ApiClient/obj/
EONET.Data/bin/
EONET/wwwroot/js/bundle.js
EONET/wwwroot/bundle/js/bundle.js
EONET/ReactApp/node_modules/
EONET.UnitTests/bin/
EONET.UnitTests/obj/
